:root {
/* declare a variable with `--` syntax */
--dark: #112122;
--skyblue: #a4cfc7;
--white: #ffff;

}

body {
    flex-wrap: wrap;
    line-height: 1.3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1% 1% 1% 0%;
    /* use CSS var() function to reference a variable created above */
    background-color: var(--dark);
    color: var(--dark);    
}
  
header h1 {
    font-family: 'Lucida Sans' serif;
    font-size: 175%;
    background-color: var(--skyblue);
    padding: 0 0.3em 0 2.4em;
    margin: 0;
}

h2 { 
    font-family: inherit; /* May be able to remove, check it out*/
    margin: 2% 0;
    
}

h3 {
    background-color: var(--skyblue);
    padding: 10px;
}

nav ul {
    display: flex;    
    justify-content: space-between;
    min-width: 410px; /* 300px try this if it work */
    padding: 0 15% 0 0;
}
  
nav a {
    border-bottom: 3px solid;
    /* border-color: var(--skyblue); */
    padding: 5px 8px;
    color: var(--skyblue);
    font-weight: bold;
    text-decoration: none;
}
  
nav a:hover {
    color: var(--dark);
    border-bottom: 3px solid;
    color: var(--white);
}

#banner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    padding: 20px;
/* 
    background-image: repeating-linear-gradient(-45deg, #d1d0d8, #d1d0d8 6em, #4f4e72 6em, #4f4e72 50%);
    background-size: 16em 16em; */

    background: repeating-linear-gradient(135deg, #56556a 0, #56556a 6em, transparent 6em, transparent 50%);
    background-size: 14em 14em;
    background-color: #c8dde6;
    opacity: 0.75;
}

.mypic {
    width: fit-content;   
}


/* main {
  display: flex;
  flex: 1 1 0;
  max-width: 1200px;
  margin: 2% auto;
} */



.content {    
    display: flex;
    flex-wrap: wrap;
}

h2 {
    justify-content:right;             
    margin-left: 1em;
    margin-right: 0.5em;
    font-size: 200%;
    padding: 1%;
    border-right: 3px solid var(--dark);
    min-width:200px;
    text-align: right;
}
  
/* 
section {
  flex: 1 1 0;
  padding-right: 5%;
} */

/* mobile device */
article {
    flex: 1;
      /* padding: 1em; */
      /* border: 3px solid var(--skyblue); */
    margin: 1%;
}


.work-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

img {
    width: 100%;
    border: 3px solid var(--skyblue);
}

/* .project-row-image {
    flex-direction: column; 
} */
.project-column-images { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* width: 50%; */
}

.work-row-image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* contact coentent */
.contact-info ul {
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-evenly;
    /* min-width: 410px; */
    padding-top: 30px;   
}

.contact-info a {
    border-bottom: 3px solid;
    padding: 5px 8px;
    color: var(--dark);
    font-weight: bold;
    text-decoration: none;
}
  
.contact-info a:hover {
    /* color: var(--skyblue); */
    border-bottom: 3px solid var(--skyblue);
}

/* footer content */
footer {
    text-align:center;
    padding: 1em;
    background-color: var(--dark);
    color: var(--skyblue);
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    header {
    background: #772014;
    }
    }
    /* Large smartphones - navbar changes color */
    @media screen and (max-width: 768px) {
    nav {
    background-color: #bb8588;
    }
    }
    /* Small smartphones - image placeholders change color */
    @media screen and (max-width: 576px) {
    .sample-img {
    background-color: #8ac4ff;
    }
    }