:root {
/* declare a variable with `--` syntax */
--dark: #112122;
--skyblue: #a4cfc7;
--white: #ffff;

}

/* the whole body */
body {
    flex-wrap: wrap;
    line-height: 1.3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1% 1% 1% 0%;
    background-color: var(--dark);
    color: var(--dark);    
}

.logo {
    text-decoration: none;
    color: inherit;
}

header h1 {
    font-family: 'Lucida Sans' serif;
    font-size: 175%;
    background-color: var(--skyblue);
    padding: 0 0.3em 0 2.4em;
    margin: 0;
}

/* navlink */
nav ul {
    display: flex;    
    justify-content: space-between;
    min-width: 410px;
    padding: 0 15% 0 0;
}
  
nav a {
    border-bottom: 3px solid;
    padding: 5px 8px;
    color: var(--skyblue);
    font-weight: bold;
    text-decoration: none;
}
  
nav a:hover {
    border-bottom: 3px solid;
    color: var(--white);
}

nav a:visited {
    border-bottom: 3px solid;
}

/* banner */
.banner { 
    display: flex;
    flex-wrap: wrap;
    padding: 50px 4%;
    background: repeating-linear-gradient(135deg, #56556a 0, #56556a 6em, transparent 6em, transparent 50%);
    background-size: 14em 14em;
    background-color: #c8dde6;
    opacity: 0.75;
    justify-content: flex-end;
}

.subtitle h2 {
    display: block;
    background-color: var(--skyblue);
    padding: 10px;
}

/* contents */
.content {    
    display: flex;
    flex-wrap: wrap;
}

.mypic {
    width: fit-content;
    border-style: none; 
}

h3 {
    justify-content:right;             
    margin-left: 1em;
    margin-right: 0.5em;
    font-size: 200%;
    padding: 1%;
    border-right: 3px solid var(--dark);
    min-width:200px;
    text-align: right;
    margin: 2%;
}
  
article {
    flex: 1;
    margin: 1%;
}

.work-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 3px solid var(--skyblue);
    opacity: 80%;
    transition: 0.45s;
}

img:hover {
    display: flex;
    flex-wrap: wrap;
  
    border: 3px solid var(--dark);
    opacity: 100%;
    transition: 0.50s;
}

.project-column-images { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.work-row-image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact-info ul {
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-evenly;
    padding-top: 30px;   
}

.contact-info a {
    border-bottom: 3px solid;
    padding: 5px 8px;
    color: var(--dark);
    font-weight: bold;
    text-decoration: none;
}
  
.contact-info a:hover {
    border-bottom: 3px solid var(--skyblue);
}

/* footer */
footer {
    text-align:center;
    padding: 1em;
    background-color: var(--dark);
    color: var(--skyblue);
}

/* Not done yet */
/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    header {
    background: #772014;
    }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
nav {
background-color: #1eb132;
    }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
nav {
background-color: #1333ee;
     }
}
        